/* Import */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

/* Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
}

body::-webkit-scrollbar {
    display: none;
}

.weatherInfo {
    background-color: grey;
}

.current-weather-icon {
    width: 15%;
}

.upcomingHours {
    display: flex;
    align-items: center;
    background-color: grey;
}

.upcomingHours img {
    width: 1.2%;
    margin-left: 1%;
}

.upcomingDays {
    display: flex;
    align-items: center;
    background-color: grey;
}

.upcomingDays p {
    margin-left: 0.4%;
}

.upcomingDays img {
    width: 1.2%;
    margin-left: 1%;
}