/* Import */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

/* Styling */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    max-width: 600px;
    margin: auto;
}

body::-webkit-scrollbar {
    display: none;
}

/* Background colors based on weather conditions */
.body-clear-sky {
    background-color: #8E816F;
    /* Full sun */
}

.body-rain {
    background-color: #36414e;
    /* Rain */
}
.body-rain .nu h2 {
    color: #f3f1f082;
    margin-top: 2rem;
    font-size: 4.5vh;
}

.body-cloudy {
    background-color: #A4C6C9;
    /* Cloudy */
}

.body-default {
    background-color: #8E816F;
    /* Default background color for unknown conditions */
}

.container {
    padding: 0 30px;
    max-width: 600px;
    margin: auto;
    overflow: auto; /* Enable horizontal scrolling if content overflows */
}

/* .current-weather-icon {
    width: 70vw;
} */

/* nuværende vejrsymbol og temp */
.imgTemp {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    /* Juster højden efter behov */
    position: relative;
    margin-bottom: 2rem;
}
.imgTemp img{
height: 100%;
margin-top: 1.5rem;
}

.imgTemp p {
    font-size: 7vh;
    font-weight: 900;
    position: absolute;
    bottom: -30%;
    left: 0%;
}

/* nuværende vind */
.nu {
    display: flex;
    justify-content: space-between;
    height: 13vh;
    /* margin: 2rem 0 1rem 0; */
    position: relative;
}
.decorative-line {
    width: 80%;
    margin: auto;
    border: 1px solid #33313d; 
    /* margin: 0 1rem 2rem 1rem; */
    border-radius: 30px;
}


.nu h2 {
    color: #33313D;
    margin-top: 2rem;
    font-size: 4.5vh;
}

.wendy {
    position: absolute;
    bottom: 0;
    right: 0;
}

.wendy img {
    width: 50px;
margin-bottom: 2rem;
    z-index: 1;
}

.wendy p {
    font-size: 15px;
    color: white;
    position: absolute;
    z-index: 2;
left: 1.3rem;
bottom: 3.2rem;
}

/* næste par */

#upcomingWeather {
    height: 57vh;
    overflow: auto;
    background-color: #F3F1F0;
    width: 500px;
    border-radius: 8px;
    margin: auto;
    margin-bottom: 2rem;;
    padding: 3rem;
    font-size: 30px;
}

.upcomingHours {
    display: flex;
    justify-content: space-between;
    /* Tilføj space-between for at fordele elementerne jævnt */
    align-items: center;
    text-align: center;
    position: relative;
}

.upcomingHours p {
    color: #33313D;
    font-weight: bold;
}

.upcomingHours p:nth-child(3) {
    color: #A4C6C9;
    font-weight: bold;

}

.upcomingHours img {
    width: 20%;
    /* Øg bredden til at fylde mere af bredden */
    height: 10%;
    margin: 5%;
    position: relative;
}

.time-divider {
    width: 100%;
    border-top: 2px solid #161515;
    margin: 0 auto;
}
#dag p:last-of-type{
    color: #fb8332;
    font-size: 30px;
    font-weight: 100;
}

/* Tilpasning til vindhastighed og ikon */
.upcomingHours img:last-of-type {
    width: 20%;
    transform: translateY(-50%);
    position: relative;
    z-index: 1;
}

#speed {
    font-size: 20px;
    position: absolute;
    top: 39%;
    left: 84%;
    transform: translateX(-50%);
    z-index: 2;
    width: 20px;
    margin-left: 1%;
}

#upcomingDaysWeather {
    display: flex;
    height: 20vh; 
    overflow: scroll;
    align-items: center;
    overflow-x: auto; /* Enable horizontal scrolling when necessary */
    border-radius: 5px;
    background-color: #33313D;
    cursor: pointer;
}

.active-day {
    background-color: #f9f8f74a; /* Use your preferred lighter gray color */

  }

#upcomingDaysWeather::-webkit-scrollbar {
    display: none;
}

.upcomingDays {
    font-size: 15px;
    display: flex;
    height: 40vh;
    width: 7vw;
    flex-shrink: 0; /* Prevent cells from shrinking */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.orangebar{
    z-index: 100;
    height: 60%;
    border: 2px solid #fb8332;
    border-radius: 200px;
    transform: rotate(180deg);
}


.upcoming-days-weather-icon {
    width: 40%;
}
.upcomingDays img {
    width: 30px;
    /* margin-left: 1%; */
}

.topInfo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.topLeft {
    margin-top: 40px;
}

.date {
    font-size: 3vh;
    font-weight: bold;
}

.topRight {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.sunriseIcon {
    display: flex;
    justify-content: right;
    margin-right: 10px;
}

.sunTime {
    opacity: 75%;
}

/* Search Bar */

.searchBarContainer {
    position: relative;
    margin-top: 30px;
    margin-bottom: 40px;

}

.searchBar {
    height: 30px;
    width: 100%;
    padding: 2rem;
    border: 0;
    border-radius: 5px;
    background-color: #F9F8F7;
    -webkit-box-shadow: 0px 3px 8px -1px #000000; 
    box-shadow: 0px 3px 8px -1px #000000;
    font-size: 25px;
    color: #747474;
    font-weight: 600;
}

#searchButton {
    position: absolute;
    top: 0.6rem;
    right: 1rem;
    background-image: url('../img/symboler/søge_ikon.png');
    background-color: transparent;
    background-size: cover;
    height: 70%;
    width: 15%;
    border: 0;
    cursor: pointer;
}

.side-by-side-container {
    height: 45vh; /* ændret*/
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
}

.side-by-side-container::-webkit-scrollbar {
    display: none;
}

#weatherInfo,
#upcomingWeather {
    height: 90%;
    width: 100%;
    flex: 0 0 auto;
}

#upcomingWeather::-webkit-scrollbar {
    display: none;
}
@media screen and (max-width: 700px) {
    #dag p:last-of-type{
        font-size: 2vh;
    }
    .upcomingHours p:last-of-type {
        font-size: 3.2vw;
    }
    #upcomingWeather {
        font-size: 4.8vw;
        padding: 2rem;
    }
    .upcomingDays {
      min-width: auto; /* Allow cells to shrink when the viewport is smaller */
    }
    .imgTemp p {
        font-size: 7vh;
  }
  .nu h2{
    margin-top: 3rem;
    font-size: 3vh;
  }
  .imgTemp img{
    height: 90%;
    margin-top: 1rem;
    }
    .upcomingDays {
        width: 27.9vw;
    }
    
  }

  @media screen and (max-width: 412px) {
    .wendy p {
        top: 23%;
    }
    .imgTemp p {
        font-size: 6vh;
  }
  .nu h2{
    margin-top: 3rem;
    font-size: 4vh;
  }
  
  
}

  @media screen and (max-width: 375px) {
    .wendy p {
        top: 20%;
    }
    .imgTemp p {
        font-size: 8vh;
        bottom: -32%;
        left: 0;
  }
  .nu h2{
    margin-top: 2.5rem;
    font-size: 3vh;
  }
  .imgTemp img{
    height: 100%;
    margin-top: 1.5rem;
    }
    .imgTemp p {
        font-size: 8vh;
        bottom: -28%;
    }
    .upcomingDays {
        width: 27.3vw;
    }
  }

  @media screen and (max-width: 360px) {
    .wendy p {
      
    }
    .imgTemp p {
        font-size: 6.5vh;
  }
  }

  @media screen and (min-width: 700px) {
    #searchButton {
        width: 10%;
    }

    

  }