/* Import */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

/* Styling */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    max-width: 600px;
    margin: auto;
}

body::-webkit-scrollbar {
    display: none;
}

/* Background colors based on weather conditions */
.body-clear-sky {
    background-color: #8E816F;
    /* Full sun */
}

.body-rain {
    background-color: #33313D;
    /* Rain */
}

.body-cloudy {
    background-color: #A4C6C9;
    /* Cloudy */
}

.body-default {
    background-color: #8E816F;
    /* Default background color for unknown conditions */
}


.container {
    padding: 0 30px;
}

.current-weather-icon {
    width: 100px;
}

#upcomingWeather {
    background-color: #F3F1F0;
    width: 500px;
    border-radius: 8px;
    margin: auto;
    padding: 4rem;
    font-size: 30px;
}

.upcomingHours {
    display: flex;
    justify-content: space-between; /* Tilføj space-between for at fordele elementerne jævnt */
    text-align: center;
    position: relative;
}

.upcomingHours p {
    color: #33313D;
    font-weight: bold;
    
}
.upcomingHours p:nth-child(3) {
    color: #A4C6C9;
    font-weight: bold;
    
}
.upcomingHours img {
    width: 20%; /* Øg bredden til at fylde mere af bredden */
    height: 10%;
    margin: 5%;
    position: relative;
}

.time-divider {
    width: 100%;
    border-top: 2px solid #161515;
    margin: 0 auto;
 
}

/* Tilpasning til vindhastighed og ikon */
.upcomingHours img:last-of-type {
    width: 20%;
    transform: translateY(-50%);
    position: relative;
    z-index: 1;
}

.upcomingHours p:last-of-type {
    font-size: 20px;
    position: absolute;
    top: 36%;
    left: 84.5%;
    transform: translateX(-50%);
    z-index: 2;
    width: 20px;
    margin-left: 1%;
}

.upcomingDays {
    display: flex;
    align-items: center;
}

.upcomingDays p {
    margin-left: 0.4%;
}

.upcomingDays img {
    width: 50px;
    margin-left: 1%;
}

.topInfo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.topLeft {
    margin-top: 40px;
}

.date {
    font-size: 20px;
    font-weight: bold;
}

.topRight {
    display: flex;
    margin-top: 30px;
}

.sunriseIcon {
    display: flex;
    justify-content: right;
    margin-right: 10px;
}

.sunTime {
    opacity: 50%;
}

/* Search Bar */

.searchBarContainer{
    position: relative;
    margin-top: 30px;
    margin-bottom: 40px;
    
}

.searchBar{
    height: 30px;
    width: 100%;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    background-color: antiquewhite;
}

#searchButton{
    position: absolute;
    top: 0;
    right: 0;
    background-image: url('../img/symboler/søge_ikon.png'); 
    background-color: transparent;
    background-size: cover;
    height: 100%;
    width: 30px;  
    border: 0;
    cursor: pointer;
}